{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "wrapAttributes": "force-expand-multiline"
}